<!DOCTYPE html>
<html>
    <head>
        <title>Messages</title>
    </head>

    <body>
        <h1>All Messages</h1>

        <div class="box">
            <h2>Add your new message</h2>

            <form method="POST">

                {% csrf_token %} 
                <input type="text" name="name" placeholder="Your Name" required>
                <textarea name="text" placeholder="Write Your Message" required></textarea>
                <button class="post-btn" type="submit">Post Message</button>

            </form>

        </div>
        <br>
        <h2>All Messages</h2>

        {% for m in messages %}
            <div class="box message">
                <h3>{{ m.name }}</h3>
                <small> {{ m.created_at }} </small>
                <p>{{ m.text }}</p>
            </div>
        {% endfor %}
        
    </body>


</html>